{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}

    <section class="form">
        <div class="container">

 {% if notification %} 
       
   <div class ="alert alert-sucess" style="background-color:black">
       {# {{  notification  }} #}
   </div>
{# {% endif %}  #}
            <div class="row">
                <div class="col"></div>
                <div class="col-6">
                    {{ form_start(form) }}

                    <div class="mb-3">
                    {{ form_label(form.name, 'Name', {'label_attr': {'class': 'form-label'}})}}
                    {{ form_row(form.name , {'attr' : {'class' : 'form-control'}})}}
                    </div>

                    {{ form_label(form.username, 'Username', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_row(form.username  , {'attr' : {'class' : 'form-control'}}) }}

                    {{ form_label(form.email , 'Email', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_row(form.email , {'attr' : {'class' : 'form-control'}}) }}


                    {{ form_row(form.password) }}

                    {{ form_end(form) }}
                </div>
                <div class="col"></div>
            </div>
        </div>
    </section>
{% endblock %}
