{% extends 'base.html.twig'%}

{% block body %}

   <h1> Ajouter une annonce</h1>

    {{form_start(formAnnonce) }}

    {{form_row(formAnnonce.title, {'attr':{'placeholder':"Titre de la t창che"}})}}

     {{form_row(formTask.category, {'attr':{'placeholder':"Categorie de la t창che"}})}}

     {{form_row(formTask.description, {'attr':{'placeholder':"Description  de la t창che"}})}}

     
     
     <button type="submit" class="btn btn-success">
  {% if editMode %}
  Enregistrer les modifications
  {% else %}
  Ajouter la t창che
  {% endif %}
</button>

{{form_end(formTask)}}






{% endblock %}