{% extends 'base.html.twig' %}
{% block title %}
  Task List
{% endblock %}
{% block body %}
    <h1>Détails de l'Annonce</h1>
    <div>
        <h2>{{ annonce.titre }}</h2>
        <p><strong>Description :</strong> {{ annonce.description }}</p>
        <p><strong>Catégorie :</strong> {{ annonce.categorie.no }}</p>
        <!-- Ajoutez d'autres champs d'annonce ici si nécessaire -->

        <!-- Affichage de l'image (suppose que l'image est stockée en tant que chemin vers un fichier) -->
        {% if annonce.image %}
            <img src="{{ asset(annonce.image) }}" alt="Image de l'annonce">
        {% else %}
            <p>Aucune image disponible pour cette annonce.</p>
        {% endif %}
    </div>

    <a href="{{ path('liste_des_annonces') }}">Retour à la liste des annonces</a>
</body>
</html>
